In [ ]:
#TASK 1 Write a function to find moving average in an array over a window:
#Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [6]:

def moving_avg(x,k):
    n=len(x)
    l=[]
    for i in range(0,n-k+1,1):
        sum=0
        for j in range(0,k):
            sum=sum+x[i+j]
        l.append(sum/3)
    return l

In [8]:
k=3
l=[3,5,7,2,8,10,11,65,72,81,99,100,150]
result=moving_avg(l,k)
print(result)

[5.0, 4.666666666666667, 5.666666666666667, 6.666666666666667, 9.666666666666666, 28.666666666666668, 49.333333333333336, 72.66666666666667, 84.0, 93.33333333333333, 116.33333333333333]

In [ ]:
#TASK 2.1 How-to-count-distance-to-the-previous-zero
#For each value, count the difference back to the previous zero (or the start of the Series,
#whichever is closer)
#create a new column 'Y'
#Consider a DataFrame df where there is an integer column 'X'
#import pandas as pd
#df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [10]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'x':[7,2,0,3,4,25,0,3,4]})

def count_dist_zero(y):
    l=df[df['x']==y].index.values.astype(int)[0]
    j=l-1
    while(j>=0):
        if df.iloc[j].x!=0:
            j=j-1
        elif df.iloc[j].x==0:
            return l-j   
    
df['y']=df['x'].apply(count_dist_zero)
df

    x    y
0   7  NaN
1   2  NaN
2   0  NaN
3   3  1.0
4   4  2.0
5  25  3.0
6   0  NaN
7   3  1.0
8   4  2.0

In [ ]:
#TASK 2.2
#Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
#random numbers.

In [20]:
import pandas as pd
import numpy.random as np
index = pd.date_range('2015-01-01', '2015-12-31',freq='B')
data=np.randint(500,1500,len(index))
s = pd.Series(data, index=index)
s

2015-01-01    1143
2015-01-02    1055
2015-01-05    1242
2015-01-06     691
2015-01-07    1470
2015-01-08     873
2015-01-09     710
2015-01-12     922
2015-01-13     780
2015-01-14    1451
2015-01-15    1353
2015-01-16    1133
2015-01-19    1236
2015-01-20     632
2015-01-21     591
2015-01-22    1344
2015-01-23     885
2015-01-26    1152
2015-01-27     581
2015-01-28    1243
2015-01-29     725
2015-01-30     838
2015-02-02    1189
2015-02-03    1391
2015-02-04     708
2015-02-05     684
2015-02-06    1045
2015-02-09    1190
2015-02-10     738
2015-02-11     917
              ...
2015-11-20    1166
2015-11-23     726
2015-11-24     599
2015-11-25     912
2015-11-26    1026
2015-11-27    1353
2015-11-30     656
2015-12-01    1265
2015-12-02     891
2015-12-03     629
2015-12-04    1156
2015-12-07    1173
2015-12-08    1461
2015-12-09     663
2015-12-10    1385
2015-12-11     882
2015-12-14    1206
2015-12-15     624
2015-12-16    1177
2015-12-17    1297
2015-12-18    1299
2015-12-21     858
2015-12-22    1273
2015-12-23    1384
2015-12-24    1309
2015-12-25    1368
2015-12-28     833
2015-12-29    1478
2015-12-30    1236
2015-12-31     710
Freq: B, Length: 261, dtype: int32

In [ ]:
#TASK 2.3
#Find the sum of the values in s for every Wednesday

In [18]:
s.groupby(s.index.weekday_name).sum().Wednesday

50868

In [ ]:
#TASK2.4
#Average For each calendar month

In [19]:
s.groupby(s.index.month).mean()

1     1033.636364
2     1033.000000
3     1044.136364
4      980.772727
5     1016.047619
6     1061.363636
7      999.782609
8     1026.333333
9     1034.863636
10    1031.681818
11    1052.952381
12     971.391304
dtype: float64

In [ ]:
#TASK2.5
#For each group of four consecutive calendar months in s, find the date on which the highest
#value occurred.

In [25]:
high_4 = s.groupby(pd.TimeGrouper('4M')).max()
high_4 = pd.Series(high_4[0:4]).index
print(high_4)

DatetimeIndex(['2015-01-31', '2015-05-31', '2015-09-30', '2016-01-31'], dtype='datetime64[ns]', freq=None)

C:\Users\navee\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.